@charset "utf-8";

/* ----------------------------------------
  Common Style Seet

	1-2.配置
	1-3.マージン
	1-4.文字の大きさ
	1-5.行間
	1-6.文字装飾
	1-7.文字の色
	1-8.ボーダー
	1-9.
	1-10.引用
	1-11.クリアフィックス
---------------------------------------- */

/* ----------------------------------------
  1-2.配置
---------------------------------------- */

.left{float:left;display:inline;}
.right{float:right;display:inline;}
.clear{clear:both;}
.clearleft{clear:left;}
.clearright{clear:right;}

.alignleft{text-align:left;}
.aligncenter{text-align:center;}
.alignright{text-align:right;}

/* ----------------------------------------
  1-3.マージン
---------------------------------------- */

.m2{margin:2px;}
.m5{margin:5px;}
.m10{margin:10px;}
.m15{margin:15px;}
.m20{margin:20px;}
.m30{margin:30px;}
.m40{margin:40px;}

.mt2{margin-top:2px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mt40{margin-top:40px;}

.mr2{margin-right:2px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr30{margin-right:30px;}
.mr40{margin-right:40px;}

.mb2{margin-bottom:2px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}

.ml2{margin-left:2px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml40{margin-left:40px;}


.p2{padding:2px;}
.p5{padding:5px;}
.p10{padding:10px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p30{padding:30px;}
.p40{padding:40px;}

.pt2{padding-top:2px;}
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}

.pr2{padding-right:2px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr30{padding-right:30px;}
.pr40{padding-right:40px;}

.pb2{padding-bottom:2px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}

.pl2{padding-left:2px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl15{padding-left:15px;}
.pl20{padding-left:20px;}
.pl30{padding-left:30px;}
.pl40{padding-left:40px;}


/* ----------------------------------------
  1-4.文字の大きさ
---------------------------------------- */

.f50{font-size:50%;}
.f80{font-size:80%;}
.f90{font-size:90%;}
.f110{font-size:110%;}
.f120{font-size:120%;}
.f130{font-size:130%;}

.f9{font-size:9px;}
.f10{font-size:10px;}
.f11{font-size:11px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f17{font-size:17px;}
.f18{font-size:18px;}
.f19{font-size:19px;}
.f20{font-size:20px;}
.f25{font-size:25px;}
.f30{font-size:30px;}


/* ----------------------------------------
  1-5.行間
---------------------------------------- */

.lh110{line-height:110%;}
.lh120{line-height:120%;}
.lh130{line-height:130%;}
.lh140{line-height:140%;}
.lh150{line-height:150%;}
.lh160{line-height:160%;}
.lh170{line-height:170%;}
.lh180{line-height:180%;}
.lh190{line-height:190%;}
.lh200{line-height:200%;}


.ls1{letter-spacing:1px;}
.ls2{letter-spacing:2px;}
.ls3{letter-spacing:3px;}

/* ----------------------------------------
  1-6.文字装飾
---------------------------------------- */

strong {
	font-weight:bold;
}

em {
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	color:#919191;
}
.bold{font-weight:bold;}
.italic{font-style:italic;}

/* ----------------------------------------
  1-7.文字の色
---------------------------------------- */

.red{color:#ff0000;}
.white{color:#fefefe;}
.blue{color:#0000ff;}
.black{color:#000000;}
.orange{color:#ffa500;}

/* ----------------------------------------
  1-8.ボーダー
---------------------------------------- */

.border{border:1px solid #aaa;}


/* ----------------------------------------
  1-9.
---------------------------------------- */


/* ----------------------------------------
  1-10.引用
---------------------------------------- */

blockquote{}


/* ----------------------------------------
  1-11.クリアフィックス
---------------------------------------- */
.clearfix:after {
     content:".";
     height:0;
     clear:both;
     display:block;
     visibility:hidden;
}
.clearfix {
     zoom:100%;
}