@charset "utf-8";

 @media (max-width: 767px) {

.pc_v {
	display:none;
}

.sp_v {
	display: inherit;
}

/* 全体 */

html {
	min-width:0;
}

section {
	padding:30px 0;
}

.container {
	width:100%;
}


h2 {
	margin-bottom:30px;
}

.w920,
.w1000,
.w1200 {
	width:100%;
	padding:0 2.5%;
}

img {
	max-width:100%;
	height:auto;
}

/* スマホメニュートリガー 共通 */
.menu-trigger,
.menu-trigger span {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}
.menu-trigger {
	position: absolute;
	width: 30px;
	height: 22px;
	top:16px;
	right:20px;
	z-index:100;
	cursor:pointer;
}
.menu-trigger span {
	position: absolute;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #fff;
	border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
	top: 0;
}
.menu-trigger span:nth-of-type(2) {
	top: 9px;
}
.menu-trigger span:nth-of-type(3) {
	bottom: 0;
}

/* スマホメニュートリガー エフェクト */

.menu-trigger.active span:nth-of-type(1) {
	-webkit-transform: translateY(9px) rotate(-45deg);
	transform: translateY(9px) rotate(-45deg);
}
.menu-trigger.active span:nth-of-type(2) {
	opacity: 0;
}
.menu-trigger.active span:nth-of-type(3) {
	-webkit-transform: translateY(-9px) rotate(45deg);
	transform: translateY(-9px) rotate(45deg);
}


/* ハンバーガーメニュー */

/* 追従エリア */
#sp_bottom {
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	clear:both;
	overflow:hidden;
	z-index:999;
}

.yoyaku {
	width:80%;
	background:#9c3c41;
	padding:5px 0;
	text-align:center;
	box-sizing:border-box;
	vertical-align:middle;
}

.sp_totop {
	width:20%;
	background:#000;
	display:table-cell;
	padding:5px 0;
	text-align:center;
	box-sizing:border-box;
	line-height:120%;
	vertical-align:middle;
}

.yoyaku a {
	color:#fff;
}

.sp_totop a {
	color:#fff;
}

/* ヘッダー */
#header {
	position:static;
	margin-left:0;
	background:#000;
	padding:10px 2.5%;
}


#menu {
	display:none;
	width: 100%;
	position:absolute;
	top:0;
	left:0;
	z-index:90;
	color:#fff;
	background:#000;
	box-sizing:border-box;
	text-align:center;
	float:none;
	padding-top:30px;
}

#menu a {
	display:block;
	width:100%;
	padding:10px 0;
	margin:0 auto;
	box-sizing:border-box;
	font-size:14px;
	border-bottom:1px dotted #fff;
}

.sns a img {
	width:20%;
	height:auto;
}


.tel {
	position:relative;
	z-index:80;
	float:right;
	margin:5px 50px 5px 0;
	font-size:18px;
	color:#fff;
}

.tel a {
	color:#fff;
}

#breadcrumb {
	margin-bottom:30px;
	font-size:11px;	
}

/* フッター */
#access {
	background-attachment:scroll;
}

#map iframe {
	width:95%;
}

#shopinfo {
	width:100%;
	padding:0 2.5%;
	box-sizing:border-box;
	margin-top:30px;
}

#shopinfo p {
	font-size:13px;
}

#shopinfo>.fl_wrap>img.fl_left {
	width:100%;
	height:auto;
	float:none;
}

#shopinfo>.fl_wrap>div.fl_right {
	float:left;
	margin-left:0;
	float:none;
	margin-top:20px;
}

#footer {
	margin-bottom:40px;
}

#footer-menu {
	display:none;
}

#totop {
	width:55px;
	height:63px;
	position:fixed;
	right:37px;
	bottom:40px;
	z-index:999;
	display:none;
}

#totop img {
	width:100%;
	height:auto;
}

/* メインビジュアル */

#mainv {
	position:relative;
	width:100%;
	height:300px;
	color:#fff;
	box-sizing:border-box;
	z-index: 21;
}

.mainv_bg {
	position:absolute;
	width:100%;
	height:300px;
	top:0;
	left:0;
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-size:cover;
	background-position:center center;
	z-index: 23;
}

.mainv_logo_wrap h1 {
	display:block;
	width:250px;
	height:auto;
	margin:0 auto;
}

.page #mainv {
	position:relative;
	width:100%;
	height:240px;
	padding:0;
	z-index: 21;
}


/* ページ */

#news {
	margin-top:30px;
}

.news_list{
	width:95%;
	padding:10px;
	box-sizing:border-box;
	border-top:1px solid #919191;
	border-bottom:none;
	text-align:left;
	margin:0 auto;
	diplay:block;
	vertical-align:middle;
}

.news_list:last-child{
	border-bottom:1px solid #919191;
}

.news_thumb {
	width:30%;
}

.news_discription {
	width:60%;
	padding-right:30px;
}

#about {
	margin-top:50px;
	margin-bottom:30px;
}

#about h2 {
	width:80%;
	height:0;
	margin:0 auto 30px;
	padding-top:14px;
	padding:15px 0 9.821428571%;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:center;
}

#about p {
	text-align:left;
}

.link_list {
	width:100%;
	height:auto;
}

.link_img {
	width:100%;
	height:150px;
	float:none;
}

.link_txt_wrap {
	width:100%;
	height:auto;
	float:none;
	position:relative;	
}

.link_txt {
	width:100%;
	position:static;
	-webkit-transform:none; /* Safari用 */
	transform:none;
	box-sizing:border-box;
	padding:30px 2.5%;
	text-align:center;
}

.fl_left .link_txt,
.fl_right .link_txt {
	padding:30px 2.5%;
}

.link_txt h3,
.link_txt p {
	text-align:left;
}


#top_link .readmore {
	float:none;
}


.fade_lead {
	float:none;
	margin-right:0;
	margin-bottom:10px;
}

.fade_lead_in {
	width:100%;
	position:static;
    -moz-transform:none;
    -webkit-transform:none;
    transform:none;
}

.fade_list {
	margin-right:1.25%;
	margin-bottom:5px;
}

.fade_list:hover p.fade_on {
	padding:10px;
	box-sizing:border-box;
	text-align:left;
	position:static;
    -moz-transform: translate(0,0);
    -webkit-transform: translate(0,0);
    transform:translate(0,0);
	background:rgba(0,0,0,0.3);
	height:100%;
	transition:opacity 0.5s;
	-moz-transition:opacity 0.5s;
	-ms-transition:opacity 0.5s;
	-o-transition:opacity 0.5s;
	-webkit-transition:opacity 0.5s;
}

#okonomi_flow .fade_lead,
#shokuzai .fade_lead {
	width:100%;
	height:auto;
}

#okonomi_flow .fade_list,
#shokuzai .fade_list {
	width:32.5%;
	height:170px;
	float:left;
}

#okonomi_flow .fade_list:nth-child(5n),
#shokuzai .fade_list:nth-child(4n) {
	margin-right:1.25%;
}

#okonomi_flow .fade_list:nth-of-type(3n+1),
#shokuzai .fade_list:nth-of-type(3n+1) {
	margin-right:0;
}

#okonomi_menu {
}

h3.menubox {
	margin-bottom:20px;
}

#okonomi_menu>.category>table>tbody>tr>td:first-child {
	padding-right:2.5%;
}

#okonomi_menu>.category>table>tbody>tr>td:last-child {
	padding-left:2.5%;
}

#okonomi_menu>.category>table>tbody>tr>td>table>tbody>tr>td {
	display:block;
}

#okonomi_menu>.category>table>tbody>tr>td>table>tbody>tr>td:first-child {
	font-weight:bold;
	padding-bottom:10px;
}

#okonomi_menu>.category>table>tbody>tr>td>table>tbody>tr>td:last-child {
	padding-bottom:10px;
}

#enkai {
}

.enkai_list>.fl_left {
	width:100%;
}

.enkai_list>.fl_right {
	width:100%;
	margin-top:20px;
}

.enkai_list>.fl_right h3 {
	font-size:19px;
	color:#000;
	margin-bottom:10px;
	padding-bottom:10px;
	border-bottom:1px dashed #000;
}

.enkai_list>.fl_right table {
	margin-top:20px;
}

.enkai_list>.fl_right table td:first-child {
	padding-right:40px;
}

.menu_category {
	width:100%;
	padding:0 2.5% 30px;
}

.menu_category.w_full>table>tbody>tr>td {
	display:block;
}

.menu_category.w_full>table>tbody>tr>td:nth-child(2) {
	padding-right:0;
	padding-left:10px;
	text-align:right;
}

.menu_category.w_full>table>tbody>tr>td:nth-child(3) {
	padding-left:0;
}

.space_block>img.ib_box {
	width:100%;
	height:auto;
	margin-right:0;
}

.space_block>div.ib_box {
	width:100%;
	margin-top:20px;
}

#news_archive {
	margin:0 auto;
	text-align:center;
	padding:0 2.5%;
}

#single_contents {
}

#reservation {
	padding:30px 5%;
	margin-bottom:30px;
} 

#reservation_page form table {
	width:100%;
	display:block;
} 

#reservation_page form table tr {
	width:100%;
	display:block;
} 

#reservation_page form table tr td {
	width:100%;
	display:block;
	padding:0;
} 

#reservation_page form table tr td:last-child {
	width:100%;
	padding-bottom:20px;
} 

#reservation_page form input,
#reservation_page form textarea {
	width:100%;
}

#reservation_page form input[type="radio"] {
	width:auto;
}

#reservation_page form .form_s input {
	width:30%;
}

#reservation_page form textarea {
	width:100%;
}

#reservation_page form input:focus,
#reservation_page form textarea:focus {
    border:1px solid #008e80;
}

#reservation_page form dt .va_top {
	padding-top:0;
	display:block;
}

#reservation_page form input[type="submit"],
#reservation_page form input[type="button"] {
	width:auto;
	padding:5px 40px;
	display:inline-block;
	cursor:pointer;
	border-radius:20px;
	font-size:13px;
	font-weight:normal;
}

}
